<form method="post" action="{{ path('app_annee_scolaire_delete', {'id': annee_scolaire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette année scolaire? Cette action est irréversible.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annee_scolaire.id) }}">
    <button class="btn btn-error">
        <i data-feather="trash"></i>
        Supprimer l'année scolaire
    </button>
</form>
