{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<div class="text-center mt-5 ">
		<h1>Logiciel de gestion d'école</h1>
	</div>
{% endblock %}
