{% extends 'admin_base.html.twig' %}

{% block title %}Tarifs Scolaires - School Management System{% endblock %}

{% block page_title %}Tarifs Scolaires{% endblock %}

{% block header_actions %}
    <a href="{{ path('app_tarif_scolaire_new') }}" class="btn btn-primary">
        <i data-feather="plus" class="w-4 h-4"></i>
        Nouveau tarif
    </a>
{% endblock %}

{% block body %}
    <div class="card bg-base-100 shadow">
        <div class="card-body">
            <div class="flex items-center justify-between mb-4">
                <h2 class="card-title">Liste des Tarifs Scolaires</h2>
            </div>
            
            {% include 'generic/_list.html.twig' with {
                'items': tarif_scolaires,
                'headers': ['ID', 'Niveau', 'Année Scolaire', 'Écolage', 'Inscription', 'Autres Frais'],
                'fields': ['id', 'niveau.nom', 'anneeScolaire.libelle', 'montantEcolage', 'montantInscription', 'autresFrais'],
                'edit_route': 'app_tarif_scolaire_edit',
                'delete_route': 'app_tarif_scolaire_delete',
                'view_route': 'app_tarif_scolaire_show',
                'show_view': true
            } %}
        </div>
    </div>
{% endblock %}
